*{
    padding: 0;
    margin:0;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

nav ul{
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}



img{
width: 200px;
height: 200px;
border-radius: 50%;
object-fit:cover ;
}

.contenido{
    display: flex;
    margin: 60px;
}
.secciones{
    display: flex;
 align-items: center;
 padding: 40px;
}
      
.Center{
    display: flex;
    margin: 60px;

}
  
.platillos{
    display: flex;
    margin: 60px;
}

.Aspectos   {
    display: flex;
    margin: 60px;
}


.Trajes{
    display: flex;
    margin: 60px;
    
}

.Lugares{
    display: flex;
    margin: 60px;
    
}

.Aspectos{
    display: flex;
    margin: 60px;
}


.map {
display: flex;
justify-content: center;
align-items: center;

}





